<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>DEMO Elections Yukon Registry</title>

    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- Our application root element -->
    <div id="app">
      <b-container>
        <b-jumbotron 
          header="Voter Registry" 
          lead="Elections Yukon Voter Resitry Demo"
          >
          
        </b-jumbotron>
        <div v-show='errorMessage'>
            {{errorMessage}}
        </div>
        <!-- Filter Field -->
        <div>
        <b-form-group
          label="Filter"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-3"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
        </div>
        <!-- End of the filter field -->

        <div>
            <b-table 
              :filter='filter'
              striped
              hover 
              :items="entries"
            ></b-table>
         
        </div>
        
      </b-container>
    </div>

    <!-- Start running your app -->
    <script>
      window.app = new Vue({
        el: '#app',
        data:  () => ({
            entries: [],
            errorMessage: '',
            filter: ''
         
        }),
        computed: {
          
        },
        mounted () {
            axios.get('https://api.mockaroo.com/api/d47e7b70?count=50&key=df52d870')
              .then((response) => { // handle success
                if (response.data.length){
                    this.entries = response.data
                }else{
                  this.errorMessage =  "No results found"
                }
       
              })
              .catch((error) => {
                // handle error
                this.errorMessage = error.response.statusText 
                console.log(error.response)
              }) 
        }
      })
    </script>
  </body>
</html>